# 0. Enter to drive

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
%cd /content/drive/MyDrive/Github/Hackathon-BBVA-2022
!ls -a

/content/drive/MyDrive/Github/Hackathon-BBVA-2022
CHANGELOG.rst  .git	   House_prediction.ipynb  Models     requirements.txt
Dataset        .gitignore  LICENSE		   README.md

## 0.1. Connect to Github

In [167]:
!git checkout enzo

M	House_prediction.ipynb
Already on 'enzo'
Your branch is up to date with 'origin/enzo'.

In [4]:
!git status

On branch enzo
Your branch is up to date with 'origin/enzo'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   House_prediction.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
!git add .gitignore
!git add CHANGELOG.rst
!git add Dataset
!git add House_prediction.ipynb
!git add README.md
!git add requirements.txt

In [ ]:
!git config --global user.email "enzo.cisneros@pucp.edu.pe"

In [ ]:
!git commit -m "0.0.2"

[enzo 135b384] 0.0.2
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite House_prediction.ipynb (97%)

In [ ]:
!git status

On branch enzo
Your branch is ahead of 'origin/enzo' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

In [ ]:
!git push --set-upstream origin enzo

Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 782 bytes | 391.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/ECisneros20/Hackathon-BBVA-2022
   988257b..135b384  enzo -> enzo
Branch 'enzo' set up to track remote branch 'enzo' from 'origin'.

In [ ]:
!git pull

Already up to date.

# 1. Data preprocessing

## 1.1. Load data

In [ ]:
#!gzip -dk Dataset/pe_properties.csv.gz

In [159]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)

peru = pd.read_csv('Dataset/pe_properties.csv')

In [160]:
print("Original dataset shape: ", peru.shape, "\n")
peru.head()

Original dataset shape:  (100624, 25)

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,1qOI7X9aqAcO7PzjX1B29Q==,Propiedad,2021-06-03,2021-08-27,2021-06-03,NaN,NaN,Perú,Lima,Lima,...,5.0,NaN,NaN,450000.0,USD,NaN,CASA DE PLAYA VENDO EN LAS LAGUNAS,<b>CASA DE PLAYA VENDO EN LAS LAGUNAS</b><br><...,Casa,Venta
1,J350rcSI7Fx+92Wb1ev7rw==,Propiedad,2021-06-03,2021-07-07,2021-06-03,NaN,NaN,Perú,Arequipa,Arequipa,...,6.0,NaN,NaN,1050000.0,USD,NaN,HERMOSA CASA DE ENSUEÑOS EN CERRO COLORADO,<b>HERMOSA CASA DE ENSUEÑOS EN CERRO COLORADO<...,Casa,Venta
2,P+3USxoY2w5HQwg1N8JCtg==,Propiedad,2021-06-03,9999-12-31,2021-06-03,-8.095431,-79.05310,Perú,La Libertad,Trujillo,...,4.0,NaN,NaN,179000.0,USD,NaN,[ VENTA ]: ESTRENA TU CASA EN URB. SOL Y LUZ C...,<b>[ VENTA ]: ESTRENA TU CASA EN URB. SOL Y LU...,Casa,Venta
3,I9llUYb61GVgLNDUJ6CT5A==,Propiedad,2021-06-03,2021-06-04,2021-06-03,-13.840915,-76.25083,Perú,Ica,Ica,...,NaN,1120.0,NaN,52000.0,USD,Mensual,Lote venta,Hábitat VIp vende exclusivo terreno 1120 m2 e...,Lote,Venta
4,d7Sw3mL1Vq0dmzoXNpJUNQ==,Propiedad,2021-06-03,2021-06-04,2021-06-03,-12.799091,-76.56912,Perú,Lima,Lima,...,NaN,500.0,NaN,70000.0,USD,Mensual,Lote venta,Hábitat Vip Vende lote 500 m2 \r\nUbicado a ta...,Lote,Venta

In [161]:
peru.columns

Index(['id', 'ad_type', 'start_date', 'end_date', 'created_on', 'lat', 'lon',
       'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'rooms', 'bedrooms', 'bathrooms',
       'surface_total', 'surface_covered', 'price', 'currency', 'price_period',
       'title', 'description', 'property_type', 'operation_type'],
      dtype='object')

In [162]:
print("Dataset shape: ", peru.shape, "\n")

for i in peru.columns:
  print(i, "count ->", peru[i].nunique())
  print(i, "nan ->", peru[i].isnull().sum())
  print(i, "nan ->", round(peru[i].isnull().sum() / peru.shape[0] * 100, 2), "%")
  if peru[i].nunique() < 10:
    print(i, "values ->", peru[i].unique())
  else:
    print(i, "values ->", peru[i].unique()[0:4])
  print("\n")

Dataset shape:  (100624, 25)

id count -> 100624
id nan -> 0
id nan -> 0.0 %
id values -> ['1qOI7X9aqAcO7PzjX1B29Q==' 'J350rcSI7Fx+92Wb1ev7rw=='
 'P+3USxoY2w5HQwg1N8JCtg==' 'I9llUYb61GVgLNDUJ6CT5A==']


ad_type count -> 1
ad_type nan -> 0
ad_type nan -> 0.0 %
ad_type values -> ['Propiedad']


start_date count -> 388
start_date nan -> 0
start_date nan -> 0.0 %
start_date values -> ['2021-06-03' '2021-06-17' '2020-08-31' '2021-07-24']


end_date count -> 450
end_date nan -> 0
end_date nan -> 0.0 %
end_date values -> ['2021-08-27' '2021-07-07' '9999-12-31' '2021-06-04']


created_on count -> 388
created_on nan -> 0
created_on nan -> 0.0 %
created_on values -> ['2021-06-03' '2021-06-17' '2020-08-31' '2021-07-24']


lat count -> 28526
lat nan -> 14006
lat nan -> 13.92 %
lat values -> [        nan  -8.0954308 -13.8409149 -12.799091 ]


lon count -> 28247
lon nan -> 14006
lon nan -> 13.92 %
lon values -> [         nan -79.05310039 -76.2508304  -76.56912   ]


l1 count -> 1
l1 nan -> 0
l1 nan -> 0.0 %
l1 values -> ['Perú']


l2 count -> 25
l2 nan -> 0
l2 nan -> 0.0 %
l2 values -> ['Lima' 'Arequipa' 'La Libertad' 'Ica']


l3 count -> 91
l3 nan -> 3458
l3 nan -> 3.44 %
l3 values -> ['Lima' 'Arequipa' 'Trujillo' 'Ica']


l4 count -> 222
l4 nan -> 22172
l4 nan -> 22.03 %
l4 values -> [nan 'Yanahuara' 'Piura' 'Lima Centro']


l5 count -> 65
l5 nan -> 54680
l5 nan -> 54.34 %
l5 values -> [nan 'Lince' 'Rímac' 'La Molina']


l6 count -> 88
l6 nan -> 99790
l6 nan -> 99.17 %
l6 values -> [nan 'Santa Catalina' 'Santa Beatriz' 'José Gálvez']


rooms count -> 21
rooms nan -> 98429
rooms nan -> 97.82 %
rooms values -> [nan  1.  2.  3.]


bedrooms count -> 26
bedrooms nan -> 58414
bedrooms nan -> 58.05 %
bedrooms values -> [ 4.  5. nan  3.]


bathrooms count -> 20
bathrooms nan -> 23897
bathrooms nan -> 23.75 %
bathrooms values -> [ 5.  6.  4. nan]


surface_total count -> 988
surface_total nan -> 83367
surface_total nan -> 82.85 %
surface_total values -> [  nan 1120.  500.   75.]


surface_covered count -> 1294
surface_covered nan -> 81687
surface_covered nan -> 81.18 %
surface_covered values -> [  nan  108. 2931.   75.]


price count -> 5652
price nan -> 657
price nan -> 0.65 %
price values -> [ 450000. 1050000.  179000.   52000.]


currency count -> 3
currency nan -> 729
currency nan -> 0.72 %
currency values -> ['USD' 'PEN' nan 'ARS']


price_period count -> 1
price_period nan -> 65762
price_period nan -> 65.35 %
price_period values -> [nan 'Mensual']


title count -> 49592
title nan -> 0
title nan -> 0.0 %
title values -> ['CASA DE PLAYA VENDO EN LAS LAGUNAS'
 'HERMOSA CASA DE ENSUEÑOS EN CERRO COLORADO'
 '[ VENTA ]: ESTRENA TU CASA EN URB. SOL Y LUZ CON ACABADOS A1'
 'Lote venta']


description count -> 70184
description nan -> 71
description nan -> 0.07 %
description values -> ['<b>CASA DE PLAYA VENDO EN LAS LAGUNAS</b><br><br>CASA DE PLAYA LAS LAGUNAS<br />\n<br />\nSEGUNDA FILA <br />\n250 M2<br />\n2 PLANTAS<br />\nPRIMERA PLANTA CONSTA DE AMPLIA TERRAZA EN LA ENTRADA <br />\nLIVING COMEDOR<br />\nBA&Ntilde;O DE VISITAS<br />\nCOCINA GRANDE CON MESON DE GRANITO, SALIDA A TERRAZA POSTERIOR DONDE <br />\nSE ENCUENTRA LA PISCINA JACUZZI CON BA&Ntilde;O CAMBIADOR<br />\n2 DORMITORIOS CADA UNO CON BA&Ntilde;O INCORPORADO<br />\nZONA DE LAVANDERIA<br />\nCUARTO Y BA&Ntilde;O DE SERVICIO<br />\nSEGUNDA PLANTA<br />\n2 DORMITORIOS CADA UNO CON BA&Ntilde;O INCORPORADO<br />\nSALIDA A TERRAZA CON BBQ DE ACERO Y HORNO DE BARRO<br />\nMESON DE GRANITO TIPO BAR<br />\nCOCINA CERRADA<br />\n1 BA&Ntilde;O COMPLETO<br />\nCOCHERA PARA 2 AUTOS<br />\nEL CONDOMINIO CUENTA CON 1 COCHERA PARA VISITAS <br />\nCLUBHOUSE <br />\nBODEGA<br />\nPOSTA MEDICA<br />\n2 LAGUNAS<br />\n&Aacute;REAS VERDES<br />\n2 PISCINAS GRANDES<br />\nJUEGOS PARA NI&Ntilde;OS<br />\nCANCHA DE TENIS<br />\nCANCHA DE FRONT&Oacute;N<br />\nGIMNASIO<br />\nPRECIO 450,000 D&Oacute;LARES NEGOCIABLE<br />\nMANTENIMENTO 900 SOLES PREVIA CITA SRA. MARCELA BARRA DAMIANI TELF 943646375<br />\n<br />\n<br /><br><br> Características adicionales: <br> - Salón de eventos<br>- Habitación principal<br>- Cuarto de servicio<br>- Sala<br> <br><br> Ref#773018.'
 '<b>HERMOSA CASA DE ENSUEÑOS EN CERRO COLORADO</b><br><br>Bellisima casa con acabados de primera muy confortable y de lujo <br />\n Casa de 2 pisos:<br />\nConsta de 4 habitaciones cada una con ba&ntilde;o privado, amplios jardines, cuarto y ba&ntilde;o de servicio, jacuzzi, hermosa cocina con reposteros altos y bajos, ba&ntilde;o social, amplia e iluminada sala. <br />\n<br /><br><br> Características adicionales: <br>  <br><br> Ref#774011.'
 '<b>[ VENTA ]: ESTRENA TU CASA EN URB. SOL Y LUZ CON ACABADOS A1</b><br><br>Venta - Casa de estreno con excelentes acabados  de 120m2<br />\n*Urb. Sol y Luz de San Isidro - UPN*<br />\n*DETALLES: <br />\n   *AT: 120 m2 (6x20) <br />\n   *Amplia Sala y comedor (Vista a Terraza)<br />\n   *Cocina semi-equipada con mesada de granito y reposter&iacute;a<br />\n   *5 Habitaciones (1 con Ba&ntilde;o)<br />\n   *&Aacute;rea de lavander&iacute;a y servicio <br />\n   *4 ba&ntilde;os completos<br />\n   * 1 Cocheras<br />\n   *Terraza con &Aacute;rea de Bbq<br />\n   *Precio: $ 179 000 d&oacute;lares<br />\n   *Lista para entregar<br /><br><br> Características adicionales: <br> - Comedor diario<br>- Habitación principal<br>- Estudio<br>- Cuarto de servicio<br>- Sala<br>- Depósito<br> <br><br> Ref#773525.'
 'Hábitat VIp vende exclusivo terreno 1120 m2  este terreno se encuentra en el condominio exclusivo Acca Paracas al costado de la sede del Club Regatas . \r\nEl Condominio Acca de Paracas cuenta con una increíble área verde , zona deportiva cuenta con el mejor circuito de motocross tiene una hermosa Laguna de agua natural \r\nPrecio de venta $ 52,000\r\nConsultas Milica.knezevich@habitatvip.com &#x2F; 947116646 \r\nMCVS 8715 \r\nAspai 549 \r\nAgente Inmobiliario']


property_type count -> 10
property_type nan -> 0
property_type nan -> 0.0 %
property_type values -> ['Casa' 'Lote' 'Otro' 'Departamento']


operation_type count -> 3
operation_type nan -> 0
operation_type nan -> 0.0 %
operation_type values -> ['Venta' 'Alquiler' 'Alquiler temporal']

### Drop columns:
- **id**: same amount as index
- **ad_type**: only one value
- **start_date**: not relevant
- **end_date**: not relevant
- **created_on**: not relevant
- **l1**: only one value
- **l6**: 99.17% nan - too many nan values
- **rooms**: 97.82% nan - too many nan values
- **surface_total**: 82.85% nan - too many nan values
- **surface_covered**: 81.18% nan - too many nan values
- **price_period**: only one value
- **title**: not relevant
- **description**: not relevant
- **operation_type** = [Alquiler, Alquiler temporal]

### Keep columns:
- **lat**: 13.92% nan
- **lon**: 13.92% nan
- **l2**: 0.00% nan
- **l3**: 3.44% nan
- **l4**: 22.03% nan
- **l5**: 54.34% nan - too many nan values
- **bedrooms**: 58.05% nan - too many nan values
- **bathrooms**: 23.75% nan
- **price**: 0.65% nan
- **currency**: 0.72% nan
- **property_type**: 0.00% nan
- **operation_type** = Venta

## 1.2. Drop not necessary columns

In [163]:
peru.drop(["id", "ad_type", "start_date", "end_date", "created_on", "l1", "l6", "rooms", "surface_total", "surface_covered", "price_period", "title", "description"], axis = 1, inplace = True)
peru = peru.loc[peru["operation_type"] == "Venta"]
peru.drop("operation_type", axis = 1, inplace = True)
print("New dataset shape: ", peru.shape, "\n")
peru.head()

New dataset shape:  (68487, 11)

,lat,lon,l2,l3,l4,l5,bedrooms,bathrooms,price,currency,property_type
0,NaN,NaN,Lima,Lima,NaN,NaN,4.0,5.0,450000.0,USD,Casa
1,NaN,NaN,Arequipa,Arequipa,Yanahuara,NaN,4.0,6.0,1050000.0,USD,Casa
2,-8.095431,-79.05310,La Libertad,Trujillo,NaN,NaN,5.0,4.0,179000.0,USD,Casa
3,-13.840915,-76.25083,Ica,Ica,NaN,NaN,NaN,NaN,52000.0,USD,Lote
4,-12.799091,-76.56912,Lima,Lima,NaN,NaN,NaN,NaN,70000.0,USD,Lote

## 1.3. Change prices to only USD currency

In [164]:
peru["currency"].value_counts()

USD    64254
PEN     3682
Name: currency, dtype: int64

In [165]:
change_PEN_to_USD = 1 / 4

peru["price"][peru["currency"] == "PEN"] = peru["price"] * change_PEN_to_USD
peru.drop("currency", axis = 1, inplace = True)
print("New dataset shape: ", peru.shape, "\n")
peru.head()

New dataset shape:  (68487, 10)

,lat,lon,l2,l3,l4,l5,bedrooms,bathrooms,price,property_type
0,NaN,NaN,Lima,Lima,NaN,NaN,4.0,5.0,450000.0,Casa
1,NaN,NaN,Arequipa,Arequipa,Yanahuara,NaN,4.0,6.0,1050000.0,Casa
2,-8.095431,-79.05310,La Libertad,Trujillo,NaN,NaN,5.0,4.0,179000.0,Casa
3,-13.840915,-76.25083,Ica,Ica,NaN,NaN,NaN,NaN,52000.0,Lote
4,-12.799091,-76.56912,Lima,Lima,NaN,NaN,NaN,NaN,70000.0,Lote

## 1.4. (TO DO) Check again nan values

In [166]:
print("Dataset shape: ", peru.shape, "\n")

for i in peru.columns:
  print(i, "count ->", peru[i].nunique())
  print(i, "nan ->", peru[i].isnull().sum())
  print(i, "nan ->", round(peru[i].isnull().sum() / peru.shape[0] * 100, 2), "%")
  if peru[i].nunique() < 10:
    print(i, "values ->", peru[i].unique())
  else:
    print(i, "values ->", peru[i].unique()[0:4])
  print("\n")

Dataset shape:  (68487, 10)

lat count -> 19614
lat nan -> 9422
lat nan -> 13.76 %
lat values -> [        nan  -8.0954308 -13.8409149 -12.799091 ]


lon count -> 19415
lon nan -> 9422
lon nan -> 13.76 %
lon values -> [         nan -79.05310039 -76.2508304  -76.56912   ]


l2 count -> 25
l2 nan -> 0
l2 nan -> 0.0 %
l2 values -> ['Lima' 'Arequipa' 'La Libertad' 'Ica']


l3 count -> 91
l3 nan -> 2670
l3 nan -> 3.9 %
l3 values -> ['Lima' 'Arequipa' 'Trujillo' 'Ica']


l4 count -> 220
l4 nan -> 16885
l4 nan -> 24.65 %
l4 values -> [nan 'Yanahuara' 'Piura' 'Lima Centro']


l5 count -> 60
l5 nan -> 38213
l5 nan -> 55.8 %
l5 values -> [nan 'Lince' 'Rímac' 'La Molina']


bedrooms count -> 24
bedrooms nan -> 40094
bedrooms nan -> 58.54 %
bedrooms values -> [ 4.  5. nan  3.]


bathrooms count -> 19
bathrooms nan -> 20467
bathrooms nan -> 29.88 %
bathrooms values -> [ 5.  6.  4. nan]


price count -> 4879
price nan -> 510
price nan -> 0.74 %
price values -> [ 450000. 1050000.  179000.   52000.]


property_type count -> 9
property_type nan -> 0
property_type nan -> 0.0 %
property_type values -> ['Casa' 'Lote' 'Otro' 'Departamento' 'Depósito' 'Local comercial'
 'Oficina' 'Casa de campo' 'PH']

## 1.5. (TO DO) Impute data